h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    text-align: center;
}

ul li {
    color: blue;
    font-size: 30px;
    text-align: center;
    background-color: aquamarine;
}

